<%- include('partials/header') %>

<%- include('partials/navbar') %>

<div class="container">
    <div class="post-header">
        <h2>Explore Posts</h2>
        <a href="/newpost" class="new-post-button">+ New Post</a>
    </div>

    <% if (posts.length === 0) { %>
        <p class="no-posts">No posts to display.</p>
    <% } else { %>
        <div class="post-list">
            <% posts.forEach(function(post) { %>
                <div class="post-card">
                    <div class="post-title-bar">
                        <h3 class="post-title"><%= post.title %></h3>
                        <span class="post-author">
                            By <%= post.name %>, @<a href="/authorposts/<%=post.user_id%>"><%= post.username %></a>
                        </span>
                    </div>
                    <p class="post-content"><%= post.content %></p>
                </div>
            <% }) %>
        </div>
    <% } %>
</div>

<script>
    document.getElementById("Home").classList.add("active");
</script>

<%- include('partials/footer') %>